<AdMediatorConfiguration xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <BaseConfiguration>
    <AdAdapters>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>WApplicationId</Key>
            <Value>0faaa595-a8f8-4e7b-9c31-8b3c14312726</Value>
          </Property>
          <Property>
            <Key>WAdUnitId</Key>
            <Value>238691</Value>
          </Property>
          <Property>
            <Key>WWidth</Key>
            <Value>300</Value>
          </Property>
          <Property>
            <Key>WHeight</Key>
            <Value>250</Value>
          </Property>
          <Property>
            <Key>MApplicationId</Key>
            <Value>7eaee72c-c8dc-4a06-bb18-96573c2b4cec</Value>
          </Property>
          <Property>
            <Key>MAdUnitId</Key>
            <Value>238695</Value>
          </Property>
          <Property>
            <Key>MWidth</Key>
            <Value>480</Value>
          </Property>
          <Property>
            <Key>MHeight</Key>
            <Value>80</Value>
          </Property>
        </Metadata>
        <Name>MicrosoftAdvertising</Name>
        <Weight>100</Weight>
      </AdAdapterInfo>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>IsHouse</Key>
            <Value>true</Value>
          </Property>
          <Property>
            <Key>WApplicationId</Key>
            <Value>0faaa595-a8f8-4e7b-9c31-8b3c14312726</Value>
          </Property>
          <Property>
            <Key>WAdUnitId</Key>
            <Value>238692</Value>
          </Property>
          <Property>
            <Key>WWidth</Key>
            <Value>300</Value>
          </Property>
          <Property>
            <Key>WHeight</Key>
            <Value>250</Value>
          </Property>
          <Property>
            <Key>MApplicationId</Key>
            <Value>7eaee72c-c8dc-4a06-bb18-96573c2b4cec</Value>
          </Property>
          <Property>
            <Key>MAdUnitId</Key>
            <Value>238696</Value>
          </Property>
          <Property>
            <Key>MWidth</Key>
            <Value>480</Value>
          </Property>
          <Property>
            <Key>MHeight</Key>
            <Value>80</Value>
          </Property>
        </Metadata>
        <Name>MicrosoftAdvertisingHouse</Name>
        <Weight>0</Weight>
      </AdAdapterInfo>
    </AdAdapters>
    <AdControlConfigurations>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>238689</Value>
              </Property>
              <Property>
                <Key>WWidth</Key>
                <Value>300</Value>
              </Property>
              <Property>
                <Key>WHeight</Key>
                <Value>250</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>238693</Value>
              </Property>
              <Property>
                <Key>MWidth</Key>
                <Value>480</Value>
              </Property>
              <Property>
                <Key>MHeight</Key>
                <Value>80</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
            <Weight>100</Weight>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>238690</Value>
              </Property>
              <Property>
                <Key>WWidth</Key>
                <Value>300</Value>
              </Property>
              <Property>
                <Key>WHeight</Key>
                <Value>250</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>238694</Value>
              </Property>
              <Property>
                <Key>MWidth</Key>
                <Value>480</Value>
              </Property>
              <Property>
                <Key>MHeight</Key>
                <Value>80</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertisingHouse</Name>
            <Weight>0</Weight>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-1B64BEFE-73C2-40CD-87D4-53B9DAC83CCE</Id>
        <Name>AdMediator_Home_1</Name>
      </AdControlConfiguration>
    </AdControlConfigurations>
  </BaseConfiguration>
  <CdnUriFormat>https://admediatorcdn.windowsphone.com/public/mYDFCJd0hww6ZELZ5k/Rc9YTfp84xZndXjbLra+TEuU=/{0}.config</CdnUriFormat>
  <ConfigId>mYDFCJd0hww6ZELZ5k/Rc9YTfp84xZndXjbLra+TEuU=</ConfigId>
  <FileVersion>1.0.1</FileVersion>
  <RefreshRate>30</RefreshRate>
  <SchemaVersion>1.0.3</SchemaVersion>
  <UpdatedDateTime>2015-08-23T11:59:59.4201097Z</UpdatedDateTime>
</AdMediatorConfiguration>


<!--<?xml version="1.0" encoding="utf-8"?>
<AdMediatorConfiguration xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <BaseConfiguration>
    <AdAdapters>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>WApplicationId</Key>
            <Value>d25517cb-12d4-4699-8bdc-52040c712cab</Value>
          </Property>
          <Property>
            <Key>MApplicationId</Key>
            <Value>3f83fe91-d6be-434d-a0ae-7351c5a997f1</Value>
          </Property>
        </Metadata>
        <Name>MicrosoftAdvertising</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
    </AdAdapters>
    <AdControlConfigurations>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-1B64BEFE-73C2-40CD-87D4-53B9DAC83CCE</Id>
        <Name>AdMediator_Home_1</Name>
      </AdControlConfiguration>
    </AdControlConfigurations>
  </BaseConfiguration>
  <RefreshRate>30</RefreshRate>
  <SchemaVersion>1.0.3</SchemaVersion>
  <UpdatedDateTime>2015-08-23T10:35:14.7257934Z</UpdatedDateTime>
  <UseRoundRobin>true</UseRoundRobin>
</AdMediatorConfiguration>-->