<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'MyShelf' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>a99cf682-0037-49e6-85dd-eb0742eee134</InstrumentationKey>
</ApplicationInsights>